
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    position: fixed;
    font-weight: bold;
    font-size: 18px;
    
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    width: 80%;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.alert.success {background-color: #049a09;} /* Green */
.alert.error {background-color: #f44336;} /* Red */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
