.alert {
    display: none;
    padding: 10px;
    background-color:  rgba(14, 2, 54, 0.678);
    color: white;
    position: fixed;
    top: 20px;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%; /* Adjust the width for responsiveness */
    max-width: 500px; /* Max width for larger screens */
    box-sizing: border-box;
    text-align: center; /* Center the text inside */
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius:10px
}

.closebtn {
    margin-left: 15px;
    color: rgb(8, 205, 195);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
