{% extends "myapp/base.html" %}

{% block title %}Rejected KYC{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/view_user.css' %}">

{% endblock %}

{% block content %}
    <h1>View All Rejected Kyc</h1>
    <table class="user-table">
        <thead>
            <tr>
                <th>#</th>
                
                <th>Email</th>

                <th> Date Rejected</th>

               
                

               

            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td data-label="#"> {{ forloop.counter }}</td>
               
                <td data-label="Email">{{ user.email }}</td>
                
               
                <td data-label="Verified at"> {{ user.date_rejected }}</td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
