<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/add_candidate.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/alert.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/ethers@6/dist/ethers.umd.min.js" type="application/javascript"></script>


    
</head>
<body>

    <!-- Display alert messages -->
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="header">
        <div class="logo">
            <p>logo</p>
        </div>
        <div class="title-header">
            <h1 class="admin-header">Admin Dashboard</h1>
        </div>
    </div>

    <div class="container">
        <div class="sidebar">
            <ul class="nav-links">
                <li> <a href="{% url 'base'%}"> Home  </a></li>
                <li>
                    <a href="#" onclick="toggleSubmenu('user-submenu')">User Management</a>
                    <ul id="user-submenu" class="submenu">
                        <li><a href="{% url 'adduser' %}">Add User</a></li>
                        <li><a href="{% url 'edituser' %}">Edit User</a></li>
                        
                        <li><a href="{% url 'deleteuser' %}">Delete User</a></li>
                        <li><a href="{% url 'view_users' %}">View Users</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="#" onclick="toggleSubmenu('notice-submenu')">Notice Management</a>
                    <ul id="notice-submenu" class="submenu">
                        <li><a href="{% url 'add_notices' %}">Add Notice</a></li>
                        <li><a href="{% url 'editnotices' %}">Edit Notice</a></li>
                        <li><a href="{% url 'deletenotices' %}">Delete Notice</a></li>
                        <li><a href="{% url 'view_notices' %}">View Notices</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" onclick="toggleSubmenu('candidate-submenu')">Candidate Management</a>
                    <ul id="candidate-submenu" class="submenu">
                        <li><a href="{% url 'addcandidate' %}">Add Candidate</a></li>
                        <li><a href="{% url 'editcandidate' %}">Edit Candidate</a></li>
                        <li><a href="{% url 'deletecandidate' %}">Delete Candidate</a></li>
                        <li><a href="{% url 'viewcandidate' %}">View Candidates</a></li>
                        <li><a href="{% url 'viewall_candidate' %}">View All  Candidates</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" onclick="toggleSubmenu('kyc-submenu')">KYC</a>
                    <ul id="kyc-submenu" class="submenu">
                        <li><a href="{% url 'view_kycrequest' %}">KYC requests</a></li>
                        <li><a href="{% url 'view_verifiedkyc' %}">Verified KYC </a></li>
                        <li><a href="{% url 'view_rejectedkyc' %}">Rejected KYC </a></li>

                    </ul>
                </li>
                

                <li><a href="{% url 'adminlogout' %}">Logout</a></li>
                <li><a href="{% url 'view_otp' %}"> View Otp Details</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="form-container">
                <form id="responsiveForm" action="{% url 'addcandidate'%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                              <h1> Add Candidate </h1>
                    </div>
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name" required>
                    </div>
                    <div class="form-group">
                        <label for="middle_name">Middle Name:</label>
                        <input type="text" id="middle_name" name="middle_name">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" required>
                    </div>
                    <div class="form-group">
                        <label for="dob">Date of Birth:</label>
                        <input type="date" id="dob" name="dob" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="tel" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                            <label for="first_name">Public address: </label>
                            <input type="text" id="first_name" name="publicaddress" required>
                        </div>

                    <div class="form-group">
                        <label for="role">Position:</label>
                        <select id="role" name="role" required>
                            <option value="" selected disabled>Select Role</option>
                            <option value="MP">Member of Parliament</option>
                            <option value="Mayor">Mayor</option>
                            <option value="Deputy Mayor">Deputy Mayor</option>
                            <option value="Ward Chairperson">Ward Chairperson</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="political_party">Political Party:</label>
                        <select id="political_party" name="political_party" required>
                            <option value="" selected disabled>Select Political Party</option>
                            <option value="CPN-UML">CPN-UML</option>
                            <option value="Nepali Congress">Nepali Congress</option>
                            <option value="Maoist">Communist Party of Nepal (Maoist Centre)</option>
                            <option value="Samajwadi">Samajwadi Party Nepal</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="district">District:</label>
                        <input type="text" id="district" name="district" required>
                    </div>


                    <div class="form-group">
                        <label for="municipality">Municipality:</label>
                        <input type="text" id="municipality" name="municipality" required>
                    </div>
                    <div class="form-group">
                        <label for="ward">Ward No.:</label>
                        <input type="number" id="ward" name="ward" required>
                    </div>
                    <div class="form-group">
                        <label for="pp_photo">PP Photo:</label>
                        <input type="file" id="pp_photo" name="pp_photo" required>
                    </div>
                    <div class="form-group">
                        <label for="front_citizenship">Front Citizenship Photo:</label>
                        <input type="file" id="front_citizenship" name="front_citizenship" required>
                    </div>
                    <div class="form-group">
                        <label for="back_citizenship">Back Citizenship Photo:</label>
                        <input type="file" id="back_citizenship" name="back_citizenship" required>
                    </div>
                    <div class="form-group">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'myapp/js/dashboard.js' %}"></script>
    <script src="{% static 'myapp/js/alert.js' %}"></script>
    <script id="contract-abi" type="application/json">
    {{ contract_abi_json|safe }}
</script>
    <script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("responsiveForm");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const name = `${document.getElementById("first_name").value} ${document.getElementById("middle_name").value} ${document.getElementById("last_name").value}`;
      const role = document.getElementById("role").value;
      const publicAddress = document.querySelector('input[name="publicaddress"]').value;
      
      const district = document.getElementById("district").value;

      const uc = `${district.trim()}`; // Or however you construct UC

      const roleEnumMap = {
        "MP": 0,
        "Mayor": 1,
        "Deputy Mayor": 2,
        "Ward Chairperson": 3
      };

      if (!window.ethereum) {
        alert("Please install MetaMask to proceed.");
        return;
      }

      try {
        const ethersProvider = new ethers.BrowserProvider(window.ethereum);
        await ethersProvider.send("eth_requestAccounts", []);
        const signer = await ethersProvider.getSigner();
 		const contractAddress = "0x96283B521509b8409a33e51109B0Ef314b2d1B38";
		const contractABI =[
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "_voterAddress",
				"type": "address"
			},
			{
				"internalType": "bytes32",
				"name": "_descriptorHash",
				"type": "bytes32"
			},
			{
				"internalType": "string",
				"name": "_uc",
				"type": "string"
			}
		],
		"name": "acceptKycAndStoreFaceHash",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "string",
				"name": "_name",
				"type": "string"
			},
			{
				"internalType": "enum AdvancedVoting.Category",
				"name": "_category",
				"type": "uint8"
			},
			{
				"internalType": "string",
				"name": "_uc",
				"type": "string"
			},
			{
				"internalType": "address",
				"name": "_candidate",
				"type": "address"
			}
		],
		"name": "addCandidate",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "uint256",
				"name": "candidateId",
				"type": "uint256"
			},
			{
				"indexed": false,
				"internalType": "string",
				"name": "name",
				"type": "string"
			},
			{
				"indexed": false,
				"internalType": "enum AdvancedVoting.Category",
				"name": "category",
				"type": "uint8"
			},
			{
				"indexed": false,
				"internalType": "string",
				"name": "uc",
				"type": "string"
			},
			{
				"indexed": false,
				"internalType": "address",
				"name": "candidate",
				"type": "address"
			}
		],
		"name": "CandidateAdded",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "voter",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "bytes32",
				"name": "faceHash",
				"type": "bytes32"
			}
		],
		"name": "KYCAcceptedAndDataStored",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"internalType": "address",
				"name": "manager",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "bool",
				"name": "status",
				"type": "bool"
			}
		],
		"name": "ManageMange",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "_manager",
				"type": "address"
			},
			{
				"internalType": "bool",
				"name": "_status",
				"type": "bool"
			}
		],
		"name": "managerManage",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_startTime",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "_endTime",
				"type": "uint256"
			}
		],
		"name": "setVotingSchedule",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "_newOwner",
				"type": "address"
			}
		],
		"name": "transferOwnerShip",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"internalType": "address",
				"name": "sender",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "address",
				"name": "_newOwner",
				"type": "address"
			}
		],
		"name": "TransferOwneship",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "address[]",
				"name": "_candidateIds",
				"type": "address[]"
			}
		],
		"name": "vote",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "voter",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "address[]",
				"name": "votes",
				"type": "address[]"
			}
		],
		"name": "Voted",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "startTime",
				"type": "uint256"
			},
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "endTime",
				"type": "uint256"
			}
		],
		"name": "VotingScheduleSet",
		"type": "event"
	},
	{
		"inputs": [],
		"name": "candidateCount",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "candidates",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "id",
				"type": "uint256"
			},
			{
				"internalType": "string",
				"name": "name",
				"type": "string"
			},
			{
				"internalType": "enum AdvancedVoting.Category",
				"name": "category",
				"type": "uint8"
			},
			{
				"internalType": "string",
				"name": "uc",
				"type": "string"
			},
			{
				"internalType": "uint256",
				"name": "voteCount",
				"type": "uint256"
			},
			{
				"internalType": "address",
				"name": "candidate",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "candidatesAdd",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "endTime",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "faceHashes",
		"outputs": [
			{
				"internalType": "bytes32",
				"name": "",
				"type": "bytes32"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "_candidateId",
				"type": "address"
			}
		],
		"name": "getCandidate",
		"outputs": [
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			},
			{
				"internalType": "enum AdvancedVoting.Category",
				"name": "",
				"type": "uint8"
			},
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			},
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "voter",
				"type": "address"
			}
		],
		"name": "getFaceHash",
		"outputs": [
			{
				"internalType": "bytes32",
				"name": "",
				"type": "bytes32"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getWinners",
		"outputs": [
			{
				"internalType": "string",
				"name": "results",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "isCandidate",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "isManager",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "isVotingFinalized",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "owner",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "scheduleSet",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "startTime",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "voters",
		"outputs": [
			{
				"internalType": "bool",
				"name": "hasVoted",
				"type": "bool"
			},
			{
				"internalType": "bool",
				"name": "isWhitelisted",
				"type": "bool"
			},
			{
				"internalType": "string",
				"name": "uc",
				"type": "string"
			},
			{
				"internalType": "address",
				"name": "voter",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
]
 
const contract = new ethers.Contract(contractAddress, contractABI, signer);

        const tx = await contract.addCandidate(name, roleEnumMap[role], uc, publicAddress);
        await tx.wait();

        alert("Candidate added successfully to blockchain!");

        form.submit(); // Submit Django form to save details in DB after blockchain call

      } catch (err) {
        console.error("Error adding candidate to blockchain:", err);
        alert("Failed to add candidate to blockchain.");
      }
    });
  });
</script>

</body>
</html>
