{% extends "myapp/base.html" %}

{% block title %}Edit Candidate{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/edit_user.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/alert.css' %}">
    
    <script>



                       // Hide the alert box after 3 seconds
                   setTimeout(function() {
                        var alert = document.getElementById('message-container');
                        if (alert) {
                                   alert.style.display = 'none';
                         }
                    }, 5000);



 

        document.addEventListener('DOMContentLoaded', function() {
            const form = document.querySelector('.input-box');
            const addUserContainer2 = document.querySelector('.add_user-container2');

            form.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent form submission
                
                // Validate Email
                const isValidEmail = validateEmail('semail', 'email-error');
                
                // Check if all fields are valid
                if (isValidEmail) {
                    // If all validations pass, you can submit the form
                    form.submit();
                } else {
                    // If any validation fails, the form will not submit
                    console.log('Form validation failed');
                }
            });

            document.querySelector('.update-user-form').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent form submission

                const isValidFirstName = validateName('first-name', 'first-name-error');
                const isValidMiddleName = validateName('middle-name', 'middle-name-error', true); // Optional
                const isValidLastName = validateName('last-name', 'last-name-error');
                const isValidDOB = validateDOB('dob', 'dob-error');
                const isValidPhoneNumber = validatePhoneNumber('phone_number', 'phone-error');
                const isValidEmail = validateEmail('email', 'email-error');
                const isValidPassword = validatePassword('password', 'password-error');
                const isValidConfirmPassword = validateConfirmPassword('password', 'confirm_password', 'confirm-password-error');

                if (isValidFirstName && isValidMiddleName && isValidLastName && isValidDOB && isValidPhoneNumber && isValidEmail && isValidPassword && isValidConfirmPassword) {
                    event.target.submit(); // If all validations pass, submit the form
                } else {
                    console.log('Form validation failed');
                }
            });
        });

        // Validate Name Field
        function validateName(inputFieldId, errorMessageId, isOptional = false) {
            const inputField = document.getElementById(inputFieldId);
            const errorMessage = document.getElementById(errorMessageId);
            const inputValue = inputField.value.trim();
            const nameRegex = /^[a-zA-Z]+$/;

            if (inputValue === '' && !isOptional) {
                errorMessage.textContent = 'This field is required';
                errorMessage.style.display = 'block';
                return false;
            } else if (!nameRegex.test(inputValue) && inputValue !== '') {
                errorMessage.textContent = 'Please enter a valid name';
                errorMessage.style.display = 'block';
                return false;
            } else {
                errorMessage.textContent = '';
                errorMessage.style.display = 'none';
                return true;
            }
        }

        // Validate Date of Birth
        function validateDOB(dobFieldId, errorMessageId) {
            const dobField = document.getElementById(dobFieldId);
            const errorMessage = document.getElementById(errorMessageId);
            const dobValue = dobField.value;
            if (!dobValue) {
                errorMessage.textContent = 'This field is required';
                errorMessage.style.display = 'block';
                return false;
            }
            const dobDate = new Date(dobValue);
            const today = new Date();
            const minAge = 18;
            const minDateOfBirth = new Date(today.getFullYear() - minAge, today.getMonth(), today.getDate());

            if (dobDate > minDateOfBirth) {
                errorMessage.textContent = 'You must be at least 18 years old';
                errorMessage.style.display = 'block';
                return false;
            } else {
                errorMessage.textContent = '';
                errorMessage.style.display = 'none';
                return true;
            }
        }

        // Validate Phone Number
        function validatePhoneNumber(phoneNumberFieldId, errorMessageId) {
            const phoneNumberField = document.getElementById(phoneNumberFieldId);
            const errorMessage = document.getElementById(errorMessageId);
            const phoneNumber = phoneNumberField.value.trim();

            if (phoneNumber === '') {
                errorMessage.textContent = 'This field is required';
                errorMessage.style.display = 'block';
                return false;
            } else if (phoneNumber.length !== 10 || isNaN(phoneNumber)) {
                errorMessage.textContent = 'Phone number must be exactly 10 digits';
                errorMessage.style.display = 'block';
                return false;
            } else {
                errorMessage.textContent = '';
                errorMessage.style.display = 'none';
                return true;
            }
        }

        // Validate Email
        function validateEmail(emailFieldId, errorMessageId) {
            const emailField = document.getElementById(emailFieldId);
            const errorMessage = document.getElementById(errorMessageId);
            const emailValue = emailField.value.trim();
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (emailValue === '') {
                errorMessage.textContent = 'This field is required';
                errorMessage.style.display = 'block';
                return false;
            } else if (!emailRegex.test(emailValue)) {
                errorMessage.textContent = 'Please enter a valid email address';
                errorMessage.style.display = 'block';
                return false;
            } else {
                errorMessage.textContent = '';
                errorMessage.style.display = 'none';
                return true;
            }
        }

        }
    </script>  
{% endblock head %}

{% block content %}
{% if messages %}
<div id="message-container">
    {% for message in messages %}
    <div class="alert {{ message.tags }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="add_user-container">
    <div class="adduser_inputitemsheader">
        <h1>Search with Email to Edit Candidate</h1>
    </div>
    <form class="input-box" method="post" action="{% url 'editcandidate' %}">
        {% csrf_token %}
        <div class="adduser_inputitems">
            <label for="email">Email</label>
            <span class="error-message" id="email-error"></span>
            <input type="email" id="semail" name="semail" required>
        </div>
        <button class="next-btn" type="submit">Search Candidate</button>
    </form>
</div>

<div class="add_user-container2" {% if user %}style="display: block;"{% else %}style="display: none;"{% endif %}>
    <div class="adduser_inputitems">
        <h1>Edit Candidate</h1>
    </div>
    <form class="input-box update-user-form" method="post" action="{% url 'update_candidate' %}">
        {% csrf_token %}
        <div class="adduser_inputitems">
            <label for="first-name">First Name</label>
            <span class="error-message" id="first-name-error"></span>
            <input type="text" id="first-name" name="first_name" value="{{ user.first_name }}" required>
        </div>
        <div class="adduser_inputitems">
            <div class="middle-label">
                <label for="middle-name">Middle Name</label>
                <label for="middle-name" class="optional">*Optional</label>
            </div>
            <span class="error-message" id="middle-name-error"></span>
            <input type="text" id="middle-name" name="middle_name" value="{{ user.middle_name }}">
        </div>
        <div class="adduser_inputitems">
            <label for="last-name">Last Name</label>
            <span class="error-message" id="last-name-error"></span>
            <input type="text" id="last-name" name="last_name" value="{{ user.last_name }}" required>
        </div>
        <div class="adduser_inputitems">
            <label for="dob">Date of Birth</label>
            <span class="error-message" id="dob-error"></span>
            <input type="date" id="dob" name="dob" value="{{ user.date_of_birth|date:'Y-m-d' }}" required>
        </div>
        <div class="adduser_inputitems">
            <label for="phone_number">Phone Number</label>
            <span class="error-message" id="phone-error"></span>
            <input type="number" id="phone_number" name="phone" value="{{ user.phone_number }}" required>
        </div>
        <div class="adduser_inputitems">
            <label for="email">Email</label>
            <span class="error-message" id="email-error"></span>
            <input type="email" id="email" name="email" value="{{ user.email }}" readonly required>
        </div>

        <div class="adduser_inputitems">
            <label for="political_party">Political Party</label>
            <span class="error-message" id="political_party-error"></span>
            <select id="political_party" name="political_party" required>
                <option value="">Select Political Party</option>
                <option value="CPN-UML" {% if user.political_party == "CPN-UML" %}selected{% endif %}>CPN-UML</option>
                <option value="Nepali Congress" {% if user.political_party == "Nepali Congress" %}selected{% endif %}>Nepali Congress</option>
                <option value="Maoist" {% if user.political_party == "Maoist" %}selected{% endif %}>Communist Party of Nepal (Maoist Centre)</option>
                <option value="Samajwadi" {% if user.political_party == "Samajwadi" %}selected{% endif %}>Samajwadi Party Nepal</option>
            </select>
        </div>

        <div class="adduser_inputitems">
            <label for="role">Position</label>
            <span class="error-message" id="role-error"></span>
            <select id="role" name="role" required>
                <option value="">Select Role</option>
                <option value="MP" {% if user.role == "MP" %}selected{% endif %}>Member of Parliament</option>
                <option value="Mayor" {% if user.role == "Mayor" %}selected{% endif %}>Mayor</option>
                <option value="Deputy Mayor" {% if user.role == "Deputy Mayor" %}selected{% endif %}>Deputy Mayor</option>
                <option value="Ward Chairperson" {% if user.role == "Ward Chairperson" %}selected{% endif %}>Ward Chairperson</option>
            </select>
        </div>

        <div class="adduser_inputitems">
            <label for="email">District</label>
            <span class="error-message" id="email-error"></span>
            <input type="email" id="email" name="district" value="{{ user.district }}" readonly required>
        </div>


        <div class="adduser_inputitems">
            <label for="email">Municipality</label>
            <span class="error-message" id="email-error"></span>
            <input type="email" id="email" name="municipality" value="{{ user.municipality }}" readonly required>
        </div>


        <div class="adduser_inputitems">
            <label for="email">Ward</label>
            <span class="error-message" id="email-error"></span>
            <input type="email" id="email" name="ward" value="{{ user.ward }}" readonly required>
        </div>


        <button class="next-btn" type="submit">Edit Candidate</button>
    </form>
</div>

{% endblock %}
