<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notices</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'myapp/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/notices.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <div class="menu-icon" onclick="openNav()">&#9776;</div>
                <div class="logo"><img src="{% static 'myapp/images/logo.jpg' %}" alt="Logo" class="circular-logo"></div>
            </div>
            <div class="nav-center" id="navLinks">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'candidates' %}">Candidates</a>
                <a href="{% url 'notices' %}">Notices</a>
                <a href="{% url 'vote' %}">Vote Here</a>
                <a href="{% url 'verify_kyc' %}">Verify KYC</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
            <div class="nav-right">
                {% if user_full_name %}
                    <span class="user-full-name">{{ user_full_name }}</span>
                    {% if user_profile_picture %}
                        <img src="{{ user_profile_picture }}" alt="Profile Picture" class="profiles-picture" onclick="toggleDropdown()">
                    {% else %}
                    <img src="{% static 'myapp/images/user_icon.png' %}" alt="Profiles Picture" class="profiles-picture" onclick="toggleDropdown()">
                    {% endif %}
                    <div class="dropdown-menu" id="dropdownMenu">
                        <a href="{% url 'edit_profile' %}" class="profile-items">Edit Profile</a>
                        <a href="{% url 'user_logout' %}" class="profile-items">Logout</a>
                    </div>
                {% else %}
                    <a href="{% url 'userlogin' %}" class="login-button">LogIn</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <div class="side-menu" id="sideMenu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div id="sideNavLinks">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'candidates' %}">Candidates</a>
            <a href="{% url 'notices' %}">Notices</a>
            <a href="{% url 'vote' %}">Vote Here</a>
            <a href="{% url 'verify_kyc' %}">Verify KYC</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>
    </div>
    <main>
        <section class="candidate-section">
            <h1>Latest Notices</h1>
            <div class="candidate-container">
                {% for notice in notices %}
                <div class="candidate-card">
                    <p><strong>{{ notice.notice_header }}</strong></p>
                    <div class="profile-picture">
                        <img src="{{ notice.notice_img.url }}" alt="Notice Image">
                    </div>
                    <div class="candidate-details">
                       <div class="candidate-details">
    <p class="notice-description">{{ notice.notice_description }}</p>
    <button class="read-more">Read more</button>
                       </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>COMPANY</h3>
                <a href="#">Home</a>
                <a href="#">How It Works</a>
                <a href="#">Contact Us</a>
            </div>
            <div class="footer-section">
                <h3>LEGAL</h3>
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="footer-section">
                <h3>ABOUT US</h3>
                <a href="#">Testimonials</a>
                <a href="#">Partners</a>
                <a href="#">Support Us</a>
            </div>
            <div class="footer-section">
                <h3>Contact Us</h3>
                <a href="#">abcd@gmail.com</a>
                <p>97789945551</p>
            </div>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fas fa-peace"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <p>&copy; 2024 OVC, Inc. All Rights Reserved.</p>

    </footer>
    <script src="{% static 'myapp/js/profiledropdown.js' %}"></script>
    <script src="{% static 'myapp/js/navs.js' %}"></script>
    <script src="{% static 'myapp/js/profilesdropdown.js' %}"></script>
     <script src="{% static 'myapp/js/notices.js' %}"></script>
</body>
</html>
