<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    {% load static %}  
   
    <link rel="stylesheet" href="{% static  'myapp/css/verify_email.css' %}">
    <script  src="{% static 'myapp/js/password.js' %}"></script>

</head>
<body>


    <div class="container">

       
        <h1>Update Password</h1>

        
       

        <form class="input-box"  id="password-form" method="post" action="{% url 'update_password'  %}" >
         {% csrf_token %}  

        <div class="input-items">
    
            <label for="password"> New Password</label>
            <span class="error-message" id="password-error"></span>
            <input type="password" id="password" name="npassword" required>
        </div>


        <div class="input-items">
    
                     <label for="confirm_password">Confirm Password</label>
                    <span class="error-message" id="confirm-password-error"></span>
                    <input type="password" id="confirm_password" name="ncpassword" required>
        </div>
    
          

            <div class="input-items">
    
                
                <button  type="Submit"  class="login-btn" >Update Password</button>
            </div>


            </div>



            
    

            



        </form>

      



    </div>


    <script  src="{% static 'mypap/js/password.js' %}"></script>
    
</body>
</html>